<div>
    <h2>Search for a city's weather below</h2>
</div>
<div>
    <form method="GET" action="/weather">
        <div>
            City name: 
            <input type="text" name="city">
        </div>
        <div>
            Units: 
            <input type="radio" name="units" value="metric" checked> Metric
            <input type="radio" name="units" value="imperial"> Imperial
            <input type="radio" name="units" value=""> Kelvin
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>
